*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{
    /*Background colors */
    --bg-primary-color:linear-gradient(to right,black,rgb(29, 11, 29),black);

    /*Text colors */
    --text-primary-color: rgb(204, 201, 201);

    /* spacing */
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;

    /* border colors */
    --border-primary-color: rgb(66, 12, 66);

    /* border radius*/
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:12px;
    --border-radius-lg:16px;
    --border-radius-xl:20px;
    --border-radius-2xl:24px;
}


html{
    background: var(--bg-primary-color);
    color : var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    height: 100%;
    width: 100%;
}

section{
    padding: var(--space-2xl);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info{
    padding:var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
}

.block{
    height: 30px;
    width: 30px;
    border: 1px solid var(--border-primary-color)
}